<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

         <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/dash.css')}}">
          <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Defect Detection</title>
</head>
{% extends "base.html" %}
{% block Content %}

<body>

<br>

<div ><h1 class="title11">
  Welcome, {{ current_user.name }} !
</h1></div>

<br>
<br>
<div class="container mt-100">
<div class="upload">
 <div class="upload-files">
  <header>
   <p>
    <i class="fa fa-cloud-upload" aria-hidden="true"></i>
    <span class="up">up</span>
    <span class="load">load</span>
   </p>
  </header>
  <div class="body" id="drop" style=" margin-left:25%;">
   <i class="fa fa-file-text-o pointer-none" aria-hidden="true" style=" margin-left:25%;"></i>
  </div>
  <div class="body"  style=" margin-left:37%;margin-top:-90px;">

  </div>
<div>

<form class="form-horizontal" action="/success" method="post" enctype="multipart/form-data">

    <div class="form-group">
      <label class="control-label custom" for="pwd">Upload Your Image :</label>
      <div class="col-sm-10">
        <input type="file" accept="image/x-png, image/gif, image/jpeg " class="form-control" placeholder="Hours Studied"  name="my_image" id="pwd">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="button custom">Submit</button>
      </div>
    </div>
  </form>

</div>
<hr>
     <p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}

     Image Uploaded : {{imgname}}

</p>
 </div>
</div>
 <div class='container2'>
<!--  <ul>-->
<!--    <li>-->
<!--      <a type="submit" class='animated-arrow '>-->
<!--        <span class='the-arrow -left'>-->
<!--          <span class='shaft'></span>-->
<!--        </span>-->
<!--        <span class='main'>-->
<!--         <span class='text' >-->
<!--             Click here to Compute the Results-->
<!--         </span>-->

<!--          <span class='the-arrow -right'>-->
<!--            <span class='shaft'></span>-->
<!--         </span>-->
<!--        </span>-->
<!--      </a>-->
<!--    </li>-->
<!--  </ul>-->


<!--     <button  type="submit" value="Submit" name ="compute" class="button" >Compute result</button>-->


     {% if prediction %}

    <img src="{{res}}" height="400px" width="400px">

	{% endif %}

</div>
    <div class='container3'>
        {% if prediction %}

	<h2 class="float-left"> Result   : <i> {{prediction}} </i></h2>

	    {% endif %}

        <div>
            <a href="./result">
            <button  class="button2 ">Proceed Further</button>
            </a>
        </div>

    </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='js/app.js')}}"></script>


</body>
</html>

{% endblock %}